<!DOCTYPE html>
<html lang="en" dir="ltr"
xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/css/primaryPage.css}" />
    <title>primary!</title>
  </head>
  <body>
    <div class="page-wrap">


  <div class="primary-message">
    <div class="primary-title">
      <h1>Erreur</h1>
    </div>
    <div class="primary-text">
      Une erreur est survenue...
    </div>
    <div class="primary-action">
	 <a th:href="@{/International}"><button type="button">Retour</button></a>
    </div>
  </div>

  </div>
  </body>
</html>
